/* Global Styling */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

i {
  color: #ffffff;
}


/* Header styling */
header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}



/* HOUR BLOCKS */
/* =========== */

/* Time  (left side) */
.hour-block {
  text-align: center;
  border-radius: 15px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mid side */
.description {
  white-space: pre-wrap !important; 
}

/* Save Button (right side) */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}


/* Past / Present / Future block styling */

.past {
  background-color: #d3d3d3;
  color: rgb(140, 139, 139);
}
.past:focus {
  background-color: #d3d3d3;
  color: white;
}
.past:hover {
  background-color: #cfcfcf;
}

.present {
  background-color: #ff6961;
  /* color: white; */
}
.present:focus {
  background-color: #fa817a;
  color: white;
}
.present:hover {
  background-color: #ff736c;
}

.future {
  background-color: #77dd77;
  /* color: white; */
}
.future:focus {
  background-color: #9af09a;
  color: white;
}
.future:hover {
  background-color: #84de84;
;
}



/* Save Button styling */

.saveBtn {
  border: 0px;
  border-top: 1px solid #0191b1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;

}

.saveBtn:hover {
  font-size: 1.2rem;
  background-color: #058caa; ;
  transition: all 0.1s ease-in-out;
}
